In [1]:
# 데이터 병합 및 정렬

### 학습 목표 
- 목적의 맞게 데이터를 준비하고 다듬는 방법을 알아보자

In [2]:
import pandas as pd
import os

In [3]:
os.getcwd() # 현재 파일 절대 경로

'C:\\Users\\jyc68\\LG_DX_school_code\\2.LGDX_python_library\\Practice_Materials'

In [5]:
#현재 파일기준 들어있는 파일 리스트 
os.listdir()

['.ipynb_checkpoints',
 'ex01_numpy.ipynb',
 'ex02_pandas.ipynb',
 'ex03_pandas_Deepening(Exploration_of_Descriptive_Statistics).ipynb',
 'ex03_pandas_Deeping_sort.ipynb']

In [7]:
#특정 위치 폴덜 들어있느 파일 리스트 
os.listdir(r"C:\Users\jyc68\LG_DX_school_code\data")

['height_weight.txt',
 'hr-info.csv',
 'Monthly_pay',
 'movie_review.pkl',
 'ratings.txt',
 '육군신체측정정보.csv']

In [9]:
# 파일 3개 불어오기
pd.read_csv(r"C:\Users\jyc68\LG_DX_school_code\data\Monthly_pay\hr-pay-info-4월.csv",encoding="euc-kr")
pd.read_csv(r"C:\Users\jyc68\LG_DX_school_code\data\Monthly_pay\hr-pay-info-5월.csv",encoding="euc-kr")
pd.read_csv(r"C:\Users\jyc68\LG_DX_school_code\data\Monthly_pay\hr-pay-info-6월.csv",encoding="euc-kr")

        EID  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
0    E00206    20240401           월급             850
1    E00181    20240401           월급             791
2    E00164    20240401           월급             758
3    E00190    20240401           월급             708
4    E00209    20240401           월급             716
..      ...         ...          ...             ...
448  E00322    20240401          상여금             300
449  E00389    20240401          상여금             300
450  E00438    20240401          상여금             300
451  E00304    20240401          상여금             300
452  E00428    20240401          상여금             300

[453 rows x 4 columns]

In [10]:
os.listdir(r"C:\Users\jyc68\LG_DX_school_code\data\Monthly_pay")

['hr-pay-info-4월.csv', 'hr-pay-info-5월.csv', 'hr-pay-info-6월.csv']

In [15]:
p=[]
for i in os.listdir(r"C:\Users\jyc68\LG_DX_school_code\data\Monthly_pay"):
    tmp=pd.read_csv(r"C:\Users\jyc68\LG_DX_school_code\data\Monthly_pay\\"+i ,encoding="euc-kr")
    p.append(tmp)

In [14]:
os.listdir("../../data/Monthly_pay/")

['hr-pay-info-4월.csv', 'hr-pay-info-5월.csv', 'hr-pay-info-6월.csv']

In [16]:
pay_list=[]
for i in os.listdir("../../data/Monthly_pay/"):
    tmp=pd.read_csv("../../data/Monthly_pay/"+i ,encoding="euc-kr")
    pay_list.append(tmp)

[        EID  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
 0    E00206    20240401           월급             850
 1    E00181    20240401           월급             791
 2    E00164    20240401           월급             758
 3    E00190    20240401           월급             708
 4    E00209    20240401           월급             716
 ..      ...         ...          ...             ...
 448  E00322    20240401          상여금             300
 449  E00389    20240401          상여금             300
 450  E00438    20240401          상여금             300
 451  E00304    20240401          상여금             300
 452  E00428    20240401          상여금             300

 [453 rows x 4 columns],
         EID  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
 0    E00206    20240501           월급             850
 1    E00181    20240501           월급             791
 2    E00164    20240501           월급             758
 3    E00190    20240501           월급             708
 4    E00209    20240501           월급             716
 ..      ...         ...          ...             ...
 146  E00322    20240501           월급             375
 147  E00389    20240501           월급             375
 148  E00438    20240501           월급             375
 149  E00304    20240501           월급             375
 150  E00428    20240501           월급             375

 [151 rows x 4 columns],
         EID  PAYMENT_DY PAYMENT_DVCD  PAYMENT_AMOUNT
 0    E00206    20240601           월급             850
 1    E00181    20240601           월급             791
 2    E00164    20240601           월급             758
 3    E00190    20240601           월급             708
 4    E00209    20240601           월급             716
 ..      ...         ...          ...             ...
 146  E00322    20240601           월급             375
 147  E00389    20240601           월급             375
 148  E00438    20240601           월급             375
 149  E00304    20240601           월급             375
 150  E00428    20240601           월급             375

 [151 rows x 4 columns]]