### 학습목표 
- 한솥도시락의 메뉴명의 가격을 수집하여 표로 정리할수있다
- 셀레니움 라이브러리를 활용하여 한솥의 모든메뉴를 수집할수있다

In [2]:
from tqdm import tqdm
import pandas as pd
import requests as req 
from bs4 import BeautifulSoup as bs
import re
from kiwipiepy import Kiwi
from wordcloud import WordCloud
from collections import Counter
import matplotlib.pyplot as plt
# 컴퓨터용 브라우저 -> 데이터 요청 및 응답 
from selenium import webdriver as wb
# 컴퓨터용 키보드 (Enter,Del 등 ) 컴퓨터에게 키보드를 전달하는 역할 
from selenium.webdriver.common.keys import Keys 
# 선택자를 구분할때 사용하는 라이브러리 (필수)
from selenium.webdriver.common.by import By
#쉬는 시간을 주는 라이브러리 
import time

In [42]:
driver = wb.Chrome()
driver.get('https://www.hsd.co.kr/menu/menu_list')
time.sleep(1)
menu_list=[]
price_list=[]
a=driver.find_elements(By.CSS_SELECTOR,'.item-text h4')
b=driver.find_elements(By.CSS_SELECTOR,'.item-text div>strong')
for i in range(len(a)):
    menu_list.append(a[i].text)
    price_list.append(b[i].text)
driver.quit()    
print(menu_list)
print(price_list)

['[26.01/월,화요일 할인] 행사 진달래', '[26.01/수,목요일 할인] 행사 돈까스도련님 고기고기', '[26.01/금요일 할인] 행사 김치 제육 덮밥', '[26.01/토요일 할인] 행사 돈까스 카레', '[26.01/토요일 할인] 행사 더블 돈까스도련님', '[26.01/일요일 할인] 행사 스팸 김치볶음밥', '[26.01/일요일 할인] 행사 더블 칠리 찹쌀탕수육도련님', '[26.01/매일 할인] 행사 단품 부대찌개', '[26.01/매일 할인] 행사 단품 묵은지 김치찌개', '[26.01/매일 할인] 행사 미니 찹쌀탕수육', '[26.01/매일 할인] 행사 치킨 2조각', '[26.01/매일 할인] 행사 토네이도 소세지', '[26.01/매일 할인] 행사 스팸 1개']
['7,100', '5,900', '4,100', '4,100', '8,500', '4,100', '6,900', '4,200', '3,700', '1,900', '1,500', '1,200', '800']

In [43]:
data = pd.DataFrame({
    '메뉴이름': menu_list,
    '가격': price_list
})

In [44]:
data

                                메뉴이름     가격
0            [26.01/월,화요일 할인] 행사 진달래  7,100
1    [26.01/수,목요일 할인] 행사 돈까스도련님 고기고기  5,900
2         [26.01/금요일 할인] 행사 김치 제육 덮밥  4,100
3           [26.01/토요일 할인] 행사 돈까스 카레  4,100
4        [26.01/토요일 할인] 행사 더블 돈까스도련님  8,500
5         [26.01/일요일 할인] 행사 스팸 김치볶음밥  4,100
6   [26.01/일요일 할인] 행사 더블 칠리 찹쌀탕수육도련님  6,900
7           [26.01/매일 할인] 행사 단품 부대찌개  4,200
8       [26.01/매일 할인] 행사 단품 묵은지 김치찌개  3,700
9          [26.01/매일 할인] 행사 미니 찹쌀탕수육  1,900
10           [26.01/매일 할인] 행사 치킨 2조각  1,500
11         [26.01/매일 할인] 행사 토네이도 소세지  1,200
12            [26.01/매일 할인] 행사 스팸 1개    800

##### 예외처리
- 키워드: try, except
- 구조  
try:  
(들여쓰기)실행문  
except:  
(들여쓰기)오류가 발생했을시 진행할 실행문
- 실행문을 실행하다가 오류가 발생했을때 except 내의 코드를 실행
- 오류 발생시 코드가 멈추지 않고 계속해서 돌아갈 수 있게끔 해줌!

In [47]:
driver = wb.Chrome()
driver.get('https://www.hsd.co.kr/menu/menu_list')
time.sleep(1)

try:
    for i in range(20):
        driver.find_element(By.CSS_SELECTOR,'a.c_05').click()
        time.sleep(1)
except:
    menu_list=[]
    price_list=[]
    a=driver.find_elements(By.CSS_SELECTOR,'.item-text h4')
    b=driver.find_elements(By.CSS_SELECTOR,'.item-text div>strong')
    for i in tqdm(range(len(a))):
        menu_list.append(a[i].text)
        price_list.append(b[i].text)
    driver.quit()

100%|██████████| 99/99 [00:02<00:00, 46.12it/s]

In [48]:
print(menu_list)
print(price_list)

['[26.01/월,화요일 할인] 행사 진달래', '[26.01/수,목요일 할인] 행사 돈까스도련님 고기고기', '[26.01/금요일 할인] 행사 김치 제육 덮밥', '[26.01/토요일 할인] 행사 돈까스 카레', '[26.01/토요일 할인] 행사 더블 돈까스도련님', '[26.01/일요일 할인] 행사 스팸 김치볶음밥', '[26.01/일요일 할인] 행사 더블 칠리 찹쌀탕수육도련님', '[26.01/매일 할인] 행사 단품 부대찌개', '[26.01/매일 할인] 행사 단품 묵은지 김치찌개', '[26.01/매일 할인] 행사 미니 찹쌀탕수육', '[26.01/매일 할인] 행사 치킨 2조각', '[26.01/매일 할인] 행사 토네이도 소세지', '[26.01/매일 할인] 행사 스팸 1개', '스페셜 한우함박스테이크 도시락', '스페셜 해바라기 도시락', '스페셜 숯불직화 진달래 도시락', '스페셜 송정식 떡갈비 도시락', '매화', '해바라기', '진달래', '새치 고기고기', '돈까스도련님 고기고기', '돈치 고기고기', '동백', '소불고기', '돈치스팸', '칠리 찹쌀탕수육도련님', '돈까스도련님', '제육 돈까스도련님', '제육볶음', '한우 함박스테이크& 청양 토네이도 소세지', '한우 함박스테이크&토네이도 소세지', '더블 돈까스도련님', '송정식 떡갈비', '더블 칠리 찹쌀탕수육도련님', '송정식 떡갈비 Ⅱ', '치킨제육', '메가치킨마요', '왕치킨마요', '빅치킨마요', '치킨마요', '메가스팸마요', '스팸마요', '참치마요', '김치볶음밥&돼지불백', '스팸 김치볶음밥', '김치볶음밥', '부대찌개', '묵은지 김치찌개', '돼지불백 덮밥', '제많덮(제육 많이 덮밥)', '빅 제많덮(빅 제육 많이 덮밥)', '숯불직화구이 덮밥', '김치 제육 덮밥', '왕카레돈까스덮밥', '오리지널 치즈 닭갈비덮밥', '김치 참치 덮밥', '핫 치즈 닭갈비덮밥', '돈까스 카레', '돈까스 덮밥', '마파두부 덮밥', '소불고기 감초고추장 비빔밥', '시골제육 두부강된장 비빔밥', '참치야채 감초고추장 비빔밥', '빅치킨마요 부대찌개 정식', '치킨마요 부대찌개 정식', '단품 부대찌개', '단품 묵은지 김치찌개', '단품 카레', '반찬 돈까스도련님', '반찬 치킨', '반찬 제육볶음', '반찬 돈까스', '반찬 토네이도 소세지', '반찬 고기고기', '반찬 고등어 데리야끼', '미니반찬 김치', '미니반찬 무말랭이 무침', '12곡밥', '발아현미밥', '한솥밥', '해시 포테이토 스틱', '치즈버터 해시 포테이토 스틱', '허니버터 해시 포테이토 스틱', '뉴 감자고로케', '미니 찹쌀핫도그', '미니 찹쌀탕수육', '케이준후라이', '김피탕', '크림 닭강정(소)', '크림 닭강정(중)', '한솥 닭강정(소)', '한솥 닭강정(중)', '후라이드 순살(소)_양념치킨소스', '후라이드 순살(소)_케이준소스', '후라이드 순살(중)', '치킹 반반순살(양념, 후라이드)', '치킹 반반순살(후라이드)', '제주녹차 미니꿀호떡']
['7,100', '5,900', '4,100', '4,100', '8,500', '4,100', '6,900', '4,200', '3,700', '1,900', '1,500', '1,200', '800', '14,000', '13,000', '12,000', '11,000', '11,300', '10,300', '8,800', '7,800', '7,300', '6,800', '6,700', '6,300', '5,500', '5,000', '5,200', '5,200', '5,200', '9,000', '9,000', '10,500', '7,200', '8,500', '7,200', '5,500', '6,600', '5,600', '4,600', '3,900', '6,300', '4,400', '3,800', '7,900', '5,200', '4,400', '6,500', '6,000', '5,900', '6,500', '7,500', '6,500', '5,200', '6,700', '6,500', '4,900', '6,500', '5,100', '4,700', '5,000', '6,000', '6,500', '4,000', '8,800', '8,100', '5,200', '4,700', '2,900', '4,200', '4,000', '3,900', '2,900', '3,200', '3,900', '3,900', '500', '600', '2,100', '1,900', '1,200', '2,000', '2,200', '2,200', '2,700', '2,800', '2,300', '1,900', '6,700', '3,900', '9,900', '3,500', '9,000', '4,000', '4,000', '7,500', '16,900', '16,900', '2,500']

In [49]:
data = pd.DataFrame({
    '메뉴이름': menu_list,
    '가격': price_list
})

In [50]:
data

                               메뉴이름      가격
0           [26.01/월,화요일 할인] 행사 진달래   7,100
1   [26.01/수,목요일 할인] 행사 돈까스도련님 고기고기   5,900
2        [26.01/금요일 할인] 행사 김치 제육 덮밥   4,100
3          [26.01/토요일 할인] 행사 돈까스 카레   4,100
4       [26.01/토요일 할인] 행사 더블 돈까스도련님   8,500
..                              ...     ...
94                 후라이드 순살(소)_케이준소스   4,000
95                       후라이드 순살(중)   7,500
96                치킹 반반순살(양념, 후라이드)  16,900
97                    치킹 반반순살(후라이드)  16,900
98                       제주녹차 미니꿀호떡   2,500

[99 rows x 2 columns]

In [52]:
data.to_excel('한솥메뉴정리.xlsx')