### 개발자 연봉 데이터 활용한 데이터분석 및 시각화
- 개발자 연봉 데이터 활용해서 개발자 스킬, 연차, 성별, 지역별로 데이터를 분석해보자!

1. 라이브러리 불러오기
2. 데이터 불러오기
3. 데이터 확인
4. 데이터 연산
5. 데이터 시각화

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('data/Developer Salary.csv',encoding='euc-kr', index_col = "일련번호")
data

,나이,학력,성별,정신건강,전문직,개발공부기간,연차,국적,연봉,보유기술개수
일련번호,,,,,,,,,,
DEV1,<35,Master,Man,No,Dev,15,6,Germany,77290,7
DEV2,<35,Undergraduate,Man,No,Dev,9,6,Canada,46135,13
DEV3,>35,Master,Man,No,Dev,26,18,Germany,77831,17
DEV4,>35,Undergraduate,Man,No,Dev,39,21,United Kingdom of Great Britain and Northern I...,68507,3
DEV5,<35,Master,Man,No,Dev,19,10,Germany,60535,5
...,...,...,...,...,...,...,...,...,...,...
DEV33462,<35,Master,Man,Yes,Dev,7,5,United States of America,94000,5
DEV33463,<35,Undergraduate,Man,No,Dev,7,2,Germany,41058,13
DEV33464,>35,Undergraduate,Man,No,Dev,21,16,United States of America,115000,11
DEV33465,<35,Undergraduate,Man,Yes,Dev,5,1,United States of America,70000,15
DEV33466,<35,Master,NonBinary,No,Dev,10,3,United Kingdom of Great Britain and Northern I...,75384,2

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33466 entries, DEV1 to DEV33466
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   나이      33466 non-null  object
 1   학력      33466 non-null  object
 2   성별      33466 non-null  object
 3   정신건강    33466 non-null  object
 4   전문직     33466 non-null  object
 5   개발공부기간  33466 non-null  int64
 6   연차      33466 non-null  int64
 7   국적      33466 non-null  object
 8   연봉      33466 non-null  int64
 9   보유기술개수  33466 non-null  int64
dtypes: int64(4), object(6)
memory usage: 2.8+ MB

> **데이터 살펴보기**


 * 일련번호
 * 나이 (<35, >35) : 35세 미만 or 35세 이상
 * 학력 (Undergraduate : 학사, Master : 석사, phD : 박사, NoHigherEd : 고등학교 졸업, Other : 그 외)
 * 성별 (Man, Woman, NonBinary) : 남자, 여자, 제 3의 성
 * 정신건강 (Yes : 건강, No : 병력있음)
 * 전문직 : 전문개발자가 맞는지 (삭제예정)
 * 개발공부기간 : 코딩을 공부한 기간(수치형)
 * 연차 : 개발자로써 일을 한 기간(수치형)
 * 국적 : 독일, 캐나다, 영국, 미국, 인도, 일본, 한국
 * 연봉 : 1년간 받는 급여(달러)
 * 보유기술개수 : 해당 사람이 다룰 수 있는 기술의 개수(수치형)